// Colors
$color_01: #22252c; // dark blue/purple
$color_02: #ffffff; // White
$color_03: #F2F2F2; // Light grey
$color_04: #000000; // Black
$color_05: rgb(19, 17, 18); // Dark grey
$color_06: #777777; // Light redgrey
$color_07: rgb(24, 24, 24); //
$color_08: transparent;
$color_09: rgba(255, 255, 255, 0.48); // Light white (Transparant)
$color_10: #097960;
$color_11: #6c6f7e;

// Fonts
$main-font: 'Open Sans', sans-serif;
