<header id="header">
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
  <div class="logo">
    <h3 class="text-center text-muted"><a ng-href="#">couchTV.</a></h3>
    <p class="text-center">Discover a new zapping online</p>
  </div>

  <nav id="mainMenu">
    <ul class="navigation">
      <li><a ng-class="{ active: isActive('/') }"             ng-href="#"><i class="fa fa-home"></i>Home</a></li>
      <li><a ng-class="{ active: isActive('/latest') }"       ng-href="#/latest"><i class="fa fa-globe"></i>Latest</a></li>
      <li><a ng-class="{ active: isActive('/discover') }"     ng-href="#/discover"><i class="fa fa-magic"></i></i>Discover</a></li>
      <li><a ng-class="{ active: isActive('/coomingsoon') }"  ng-href="#/coomingsoon"><i class="fa fa-clock-o"></i>Cooming Soon</a></li>
      <li><a ng-class="{ active: isActive('/toprated') }"     ng-href="#/toprated"><i class="fa fa-star"></i>Top Rated</a></li>
      <li class="menu-border"></li>
      <li ng-repeat="genre in genres | limitTo: 10">
        <a ng-class="{ active: isActive('/genre/{{genre.id}}') }" href="#/genre/{{genre.id}}">
          <i class="fa fa-tags"></i>
          {{genre.name}}
        </a>
      </li>
    </ul>
  </nav>
</header>
