<main class="content">
	<section class="movie-head">
		<div class="movie-poster" style="background-image: url(http://image.tmdb.org/t/p/w1920{{movie.poster_path}});">
			<div class="movie-sidebar">
			<div class="movie-title">
				<h2 class="text-center">{{movie.title}}</h2>
			</div>
			<div class="movie-overview">
				<p>{{movie.overview}}</p>
			</div>
			<div class="movie-details">
				<p><i class="fa fa-calendar"></i> {{movie.release_date | date : 'MMMM d, y' : timezone}}</p>
				<p><i class="fa fa-play"></i> {{movie.runtime}} min</p>
				<p><i class="fa fa-star-half-o"></i> {{movie.vote_average}}</p>
				<ul class="text-left">
					<span class="pull-left"><i class="fa fa-tags"></i></span>
					<li ng-repeat="genre in genres">
						<a class="thisGenre" href="#/genre/{{genre.id}}">{{genre.name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</section>

	<section class="movie-content">
		<div class="movie-title">
			<h1>{{movie.title}}</h1>
		</div>

		<div class="row">
			<div class="col-md-8 col-sm-9">
				<div class="movie-overview">
					<h2>{{movie.tagline}}</h2>
					<p>{{movie.overview}}</p>
					<div class="movie-data">
						<ul>
							<li>
								<i class="fa fa-calendar"></i> {{movie.release_date | date : 'yyyy' : timezone}}
							</li>
							<li>
								<i class="fa fa-star-half-o"></i> {{movie.vote_average}}
							</li>
							<li>
								<i class="fa fa-play"></i> {{movie.runtime}}
							</li>
							<ul class="genre-list">
								<span><i class="fa fa-tags"></i></span>
								<li ng-repeat="genre in genres">
									<a class="thisGenre" href="#/genre/{{genre.id}}">{{genre.name}}</a>
								</li>
							</ul>
						</ul>

					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-3">
				<div class="movie-poster">
					<img class="center-block" ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}">
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="movie-casters">
			<h4>Casters</h4>
			<div class="movie-card col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="caster in creditCasts | limitTo: 12">
				<a href="#/person/{{caster.id}}">
					<div class="card">
						<div class="movie-item-hover">
							<span class="person-name">{{caster.name}}</span>
							<span class="person-role"><i class="fa fa-video-camera"></i> as {{caster.character}}</span>
						</div>
						<img src="http://image.tmdb.org/t/p/w500{{caster.profile_path}}" alt="{{caster.name}}">
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="movie-crew">
			<h4>Crew</h4>
			<div class="movie-card col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="crew in crewProd | limitTo: 12">
				<a href="#/person/{{crew.id}}">
					<div class="card">
						<div class="movie-item-hover">
							<span class="person-name">{{crew.name}}</span>
							<span class="person-role"><i class="fa fa-video-camera"></i> as {{crew.job}}</span>
						</div>
						<img src="http://image.tmdb.org/t/p/w500{{crew.profile_path}}" alt="{{crew.name}}">
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>

		<section class="movie-trailer">
			<h4>Trailer</h4>
			<div my-youtube code="code"></div>
		</section>

		<div ng-if="similar" class="similarMovies">
			<h4>Similar Movies</h4>

			<div class="movie-card col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="theSimilar in similar | limitTo: 6">
				<a href="#/movie/{{theSimilar.id}}">
					<div class="card">
						<div class="movie-item-hover">
							<i class="fa fa-star"></i>
							<span class="movie-rate">{{theSimilar.vote_average}}</span>
						</div>
						<img class="center-block" ng-src="http://image.tmdb.org/t/p/w500{{theSimilar.poster_path}}" alt="{{theSimilar.title}}">
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
</main>
